.app {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #3d5363;
}

.navbar-container {
  height: 100vh;
}

.title-menu-item {
  text-align: center;
}

.routes-container {
  width: 90vw;
}
