.form-container {
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.form-header {
  margin-top: 1em;
  padding-left: 2em;
  color: white;
}

.form-container {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
}
