.single-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5em;
  color: white;
}

.single-word {
  background-color: rgba(26, 25, 25, 0.9);
  border-radius: 8%;
}

.single-card-body {
  margin: 2em;
  font-size: 20px;
}

.single-word-button {
  text-align: right;
}

.sw-button {
  margin: 5px;
}

.sw-tag {
  margin: 4px;
}

.sw-star {
  margin-left: 1em;
}

.sw-video {
  margin-top: 3em;
}
