.card-body {
  text-align: left;
}

.single-card {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 250px;
  box-shadow: 0 0 5px rgb(61, 61, 61);
  height: 30vh;
  border-radius: 5px;
}

.single-body {
  height: 100% !important;
}

.card-buttons {
  /* text-align: right; */
  display: flex;
  justify-content: end;
}

.single-button {
  margin-left: 0.5em;
}
